<%= render('layouts/errors', :object => @review) %>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :content_body %><br>
  <%= f.text_field :content_body %><br>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :rating %><br>
  <%= f.select(:rating, (1..5).collect {|number| [ "#{number} star#{if(number > 1);'s';end}", number.to_i ] }, {:prompt => 'How would you rate this?'}) %><br>
  <p><%= f.submit %></p><br>
<% end %>
