<%= render('layouts/errors', :object => @review) %>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :content_body %>
  <%= f.text_field :content_body %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :rating %>
  <%# <%= f.collection_select(:rating, (1..5), :to_int, "#{:to_int} star#{if(:to_int != '1');'s';end}", {:prompt => 'How would you rate this?'}) %> %>
  <%= f.select(:rating, (1..5).collect {|number| [ "#{number} star#{if(number > 1);'s';end}", number.to_i ] }, {:prompt => 'How would you rate this?'}) %>
  <%# select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  <%# collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) %>
  <%# f.collection_select :user_id, User.order(:title), :id, :title, include_blank: true %>
  <p><%= f.submit %></p>
<% end %>
